*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --page-margin: min(2rem, 5vw);
}

// Colours
$rmd--blue: rgb(0, 0, 133);

html, body {
  height: 100%;
  font-family: 'Sans';
  background-color: #fff9e9;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;

  @media (max-width: 640px) {
    font-size: 14px;
  }

  @media (max-width: 790px) {
    font-size: 15px;
  }
}

nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.nav-name {
  @media (width < 560px) {
    display: none;
  }
}

.nav-toggle {
  display: flex;
  align-items: center;
  gap: .3em;
}

.nav--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: $rmd--blue;
    @media (width <= 420px) {
      font-size: .9rem;
    }
    @media (width > 420px) and (width < 500px) {
      font-size: 1rem;
    }
  }
  p {
    margin: 0;
    font-size: .8rem;
    @media (width < 420px) {
      font-size: .6rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.navbar {
  display: flex;
  width: 100%;
  &-brand {
    img {
      max-width: 150px;
      @media (width < 500px) {
        max-width: 100px;
      }
    }
    @media (width < 1460px) {
      margin: 0  1em 0 1em;
    }
  }
  button {
    border: none;
  }
  --bs-navbar-toggler-focus-width: 0;
}

.carousel-height {
  height: 60vmin;
  @media (width >= 880px) and (width <= 1100px) {
    height: 70vmin;
  }

  @media (width > 1100px) and (width <= 1380px) {
    height: 80vmin;
  }

  @media (width > 1380px) {
    height: 95vmin;
  }
  .carousel-item {
    img {
      height: 100%;
      width: 100%;
    }
    height: 60vmin;
    @media (width >= 880px) and (width <= 1100px) {
      height: 70vmin;
    }
  
    @media (width > 1100px) and (width <= 1380px) {
      height: 80vmin;
    }
  
    @media (width > 1380px) {
      height: 95vmin;
    }
  }
}


.modal-image {
  max-width: 100%;
}

.pay_online {
  color: black;
  text-decoration: none;
}

.header_image {
  max-width: 170px;
}

.go_up_btn {
  position: fixed;
  inset: auto 2% 2% auto;
  z-index: 1000;
  background-color: #ffffff;
  padding: .5em 0;
  border-radius: .5em;
  border: transparent;
  img {
    max-width: 100%;
  }
  transition: .3s;

  &:hover {
    background-color: #646464;
  }
}


.header_banner {
  display: flex;
  a {
    text-decoration: none;
  }
  gap: 2.95em;
  @media (width > 989px) {
    align-items: center;
    justify-content: space-between;
  }
}


.since {
  @media (width < 560px) {
    display: none;
  }
}

.placing--images {
  display: flex;
  gap: 2vmin;
  img {
    width: 20vmin;
    @media (width < 760px) {
      display: none;
    }
  }
}

.banner_images {
  display: flex;
  align-items: center;
  gap: .3em;
  img {
    object-fit: cover;
    width: 100%;
    height: 100px;
    @media (width < 340px) {
      height: 70px;
    }
    @media (width >= 340px) and (width < 420px) {
      height: 90px;
    }
  }
}

.rmd--featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  padding: 4em 0;

  &_card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-radius: 1em;
    color: #ffffff;
    text-decoration: none;
    min-height: 200px;
    transition: .2s;
    text-align: center;
    padding: 0 .6em;

    img {
      object-fit: contain;
      width: fit-content;
      height: 100px;
      filter: invert(100%);
    }
    &:hover {
      transform: scale(1.05);
      color: #ffffff;
    }
    &:nth-child(1) {
      background-color: rgb(233, 39, 39);
    }
    &:nth-child(2) {
      background-color: orange;
    }
    &:nth-child(3) {
      background-color: rgb(204, 190, 0);
    }
    &:nth-child(4) {
      background-color: rgb(0, 221, 221);
    }
    &:nth-child(5) {
      background-color: rgb(0, 153, 102);
    }
    &:nth-child(6) {
      background-color: rgba(19, 19, 201, 0.904);
    }
    @media (width < 438px) {
      width: 150px;
      min-height: 170px;
      padding: 0 .6em;
      img {
        height: 70px;
      }
    }
  }

  @media (width < 440px) {
    font-size: 12px;
  }
}
h3 {
  margin: 0 5px;
  // color: $rmd--blue;
  font-weight: 700;
}

.catalogue--container {
  padding: 2em 0;
  display: grid;
  width: 100%;
  // background-color: rgb(21, 24, 58);
  color: #ffffff;

  @media (width < 510px) {
    h3 {
      font-size: 1.2rem;
    }
  }
}

.catalogue--section {
  display: grid;
  margin: 3rem auto;
  gap: 3rem;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);

  & > * {
    grid-column: center;
  }
}

.years_of_experience {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #ffffff;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 2rem;
  .words {
    width: 50%;
    h3 {
      margin: 0;
    }
    p {
      margin-top: 1em;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      position: relative;
      img {
        margin-left: 10px;
        position: absolute;
        padding-top: 5px;
        max-width: 15px;
      }
      &:hover {
        color: $rmd--blue;
        text-decoration: underline;

        img {
          right: -30px;
        }
      }
    }
  }

  img {
    width: 50%;
  }
  @media (width < 900px) {
    .words {
      width: 100%;
    }
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 75%;
    }
  }

  &_bg {
  padding: 4em 2em;
  background: linear-gradient(151deg, rgba(37,68,69,1) 0%, rgba(255,225,161,1) 100%);
  }
}


.rmd--centres {
  .card {
    border: none;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin: 0 0.5em;
    display: grid;
    place-items: center;
    background-color: white;
    padding: 1rem;
    height: 250px;
  }
  .carousel-inner {
    padding: 2em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
  }
  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
    }
    .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    
  }
  @media screen and (max-width: 576px) {
    .card:not(:first-child) {
      display: none;
    }
  }
  
  .image-wrapper img {
    max-width: 100%;
    border-radius: 5%;
  }
  
}

.rmd--centres_container {
  padding: 8em 3em;
  // color: black;
  background: linear-gradient(135deg, rgba(243,216,156,1) 0%, rgba(46,74,73,1) 100%);
}


.center_of_excellence {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 2rem;
    border: none;
    border-radius: 12%;
    margin: 0 0.5em;

    a {
      font-size: 1.3rem;
    }
  }
  .carousel-inner {
    padding: 2em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
  }
  .image-wrapper img {
    object-fit: contain;
    max-width: 100%;
    height: 30px;
  }
  @media screen and (min-width: 720px) {
    .cards-wrapper {
      display: flex;
    }
    .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    
  }
  @media screen and (max-width: 720px) {
    .card:not(:first-child) {
      display: none;
    }
  }
}


.rmd--news {
  .card {
    border: none;
    border-radius: 5%;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin: 0 0.5em;
    height: 500px;
  }
  .carousel-inner {
    padding: 2em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
  }
  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
    .card {
      margin: 0 0.5em;
      width: 60%;
    }
    
  }
  @media screen and (max-width: 1000px) {
    .card:not(:first-child) {
      display: none;
    }
    .cards-wrapper {
      justify-content: center;
      gap: 0;
    }
  }
  
  .image-wrapper img {
    min-width: 100%;
    max-width: 100%;
    max-height: 250px;
    border-radius: 5% 5% 0 0;
  }

  .content-wrapper {
    padding: 1rem;
  }
  
}

.rmd--news_container {
  padding: 8em 3em;
  background: radial-gradient(circle, rgba(97,111,222,1) 0%, rgba(130,129,236,1) 100%);
}

.placementcount {
  &--container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  &__item {
    text-align: center;
    width: 150px;
    height: 150px;
    display: grid;
    place-items: center;
    padding: 2em;
    background-color: #646464;
    border-radius: 100%;
  }
}

.placement--centres {
  .card {
    border: none;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin: 0 0.5em;
    padding: 1rem;
    display: grid;
    place-items: center;
  }
  .carousel-inner {
    padding: 2em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
  }
  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
    }
    .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    
  }
  @media screen and (max-width: 576px) {
    .card:not(:first-child) {
      display: none;
    }
  }
  
  .image-wrapper img {
    object-fit: contain;
    max-width: 100%;
    height: 90px;
    border-radius: 5%;
  }
  
}


footer {
  color: #ffffffff;
  padding: 4em;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.833);
}

.footer {

  &--container {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    @media (width < 1000px) {
      display: grid;
    }
  }

  &--links {
    display: flex;
    gap: 3em;
    width: 65%;
    .pages {
      ul {
        display: flex;
        justify-content: start;
        list-style: none;
        padding-left: 1em;
        gap: 3em;
        div {
          display: flex;
          flex-direction: column;
          gap: .5em;
        }
        a,li {
          color: #ffffff;
          text-decoration: none;
        }
        @media (width < 1000px) {
          // gap: .5em;
          flex-wrap: wrap;
        }
      }
    }
    @media (width < 1200px) {
      flex-wrap: wrap;
      // grid-row-start: 1;
      width: 100%;
    }
  }

  &--header{
    max-width: fit-content;
    &__logo {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 3em;
  
      .logo_text {
        display: grid;
        gap: .5em;
        p {
          font-size: .8rem;
        }
      }

      .logo {
        object-fit: contain;
        max-height: 100px;
        max-width: 100%;
      }

      .social__links {
        padding: 0;
        display: flex;
        gap: 1em;
        list-style: none;
        img {
          max-width: 30px;
        }
      }
    }
    .call-us {
      display: flex;
      align-items: center;
      gap: 1em;
      p {
        display: flex;
        flex-direction: column;
        margin: 0;
      }
      img {
        max-width: 20px;
        max-height: 20px;
        filter: invert(100%);
      }
    }
  }

}